@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Bungee+Spice&family=Carter+One&family=Montserrat:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --max-width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #fff5f8;
  color: #fff;
}
nav {
  position: sticky;
  top: 0;
  background: linear-gradient(
    90deg,
    #1f1f1f 0%,
    #2c2c2c 30%,
    #a8325f 70%,
    #d94f7a 100%
  );

  z-index: 1000;
}

.nav_container {
  max-width: 1200px;
  margin: auto;
  padding: 14px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav_logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.nav_logo span {
  color: #ff6f9c;
  font-weight: 700;
}

/* LINKS */
.nav_links {
  list-style: none;
  display: flex;
  gap: 22px;
  align-items: center;
}

.nav_links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

/* Hover underline */
.nav_links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #ff6f9c;
  transition: 0.3s;
}

.nav_links li a:hover::after {
  width: 100%;
}

/* BOOK BUTTON */
.btn-book {
  padding: 7px 18px;
  border-radius: 20px;
  border: none;
  background: #ff6f9c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-book:hover {
  background: transparent;
  color: #ff6f9c;
  border: 2px solid #ff6f9c;
}

/* MOBILE MENU */
.nav_menu_btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/*=====================HERO SECTION =======================*/
.hero {
  height: 90vh;
  width: 100%;
  /* background: url("src/nails5.jpg");*/
  background: linear-gradient(
    90deg,
    #1f1f1f 0%,
    #2c2c2c 30%,
    #a8325f 70%,
    #d94f7a 100%
  );

  background-position: top center;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 600px;
  padding-left: 80px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(255, 111, 156, 0.3);
  margin-bottom: 18px;
}

.hero-content p {
  font-size: 1.05rem;
  color: #f8c8d8;
  line-height: 1.6;
  margin-bottom: 28px;
}
/*=======================ABOUT SECTION===============*/
.about {
  padding: 100px 8%;
  background: linear-gradient(135deg, #2b1f24, #3b2a33);
}

.about_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
.about_image {
  position: relative;
  width: 420px;
  height: 420px;
}

.collage {
  position: absolute;
  width: 260px;
  height: 320px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  border: 5px solid #ce6684;
  animation: float 6s ease-in-out infinite;
}

/* Image Positions */
.img1 {
  top: 0;
  left: 60px;
  transform: rotate(-10deg);
  z-index: 3;
}

.img2 {
  top: 80px;
  left: 0;
  transform: rotate(8deg);
  border-color: #c4456f;
  animation-delay: 1s;
  z-index: 2;
}

.img3 {
  top: 120px;
  left: 120px;
  transform: rotate(-6deg);
  border-color: #ce6684;
  animation-delay: 2s;
  z-index: 1;
}

/* Floating Animation */
@keyframes float {
  0% {
    transform: translateY(0px) rotate(var(--rotate, 0deg));
  }
  50% {
    transform: translateY(-20px) rotate(var(--rotate, 0deg));
  }
  100% {
    transform: translateY(0px) rotate(var(--rotate, 0deg));
  }
}

/* CONTENT */
.about_content {
  flex: 1;
  min-width: 300px;
  color: white;
}

.abt-heading {
  font-size: 38px;
  color: #ce6684;
  margin-bottom: 20px;
}

.about_content p {
  font-size: 16px;
  line-height: 1.8;
  color: #e0d6da;
  margin-bottom: 15px;
}

/*===================== GALLERY =========================*/
.gallery {
  background: #1f1f1f;
  padding: 80px 8%;
  text-align: center;
}

.gallery-title {
  font-size: 42px;
  color: #ff6f9c;
  margin-bottom: 40px;
  font-weight: 600;
}

.gallery-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.gallery-buttons button {
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #e5c5cf;
  background: #ffffff;
  color: #5a2d2d;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery-buttons button:hover {
  background: #f3d4db;
  transform: translateY(-2px);
}

.gallery-buttons button.active {
  background: #c85c7b;
  color: #fff;
  border: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}
.gallery-item {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s ease;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: 0.4s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.show-more {
  margin-top: 50px;
}

.show-more button {
  padding: 12px 30px;
  border-radius: 30px;
  background: #c96b85;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
  border-radius: 20px;
}

.show-more button:hover {
  background: transparent;
  color: #dc5f82;
  border: 1px solid #ce6684;
}

/*===============SERVICE SECTION=================*/
/* ===== SERVICES SECTION ===== */

.services {
  padding: 80px 10%;
  background-color: #2b1f24;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
  color: #ffffff;
}
/*
.section-title::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #ff69b4;
  display: block;
  margin: 10px auto;
}
  */

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.services-card {
  background: #3b2a33;
  color: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.services-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
}

.services-card h3 {
  font-size: 18px;
  font-weight: 500;
}

.services-card:hover {
  transform: translateY(-8px);
  background: linear-gradient(
    135deg,
    #1f1f1f 0%,
    #2c2c2c 30%,
    #a8325f 70%,
    #d94f7a 100%
  );

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
/*===================CONTACT SECTION=================*/
/* ===== Contact Section ===== */

.contact {
  background-color: #1a1a1a;
  padding: 80px 10%;
}

.contact_container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.section_title {
  color: #ff6f9c;
  font-size: 36px;
  margin-bottom: 10px;
}

.section_subtitle {
  color: #f8c8d8;
  margin-bottom: 50px;
}

/* Wrapper Layout */
.contact_wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Contact Form */
.contact_form {
  background-color: #2b1f24;
  padding: 40px;
  border-radius: 12px;
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 25px rgba(255, 111, 156, 0.15);
}

.contact_form input,
.contact_form textarea {
  background-color: #3b2a33;
  border: 1px solid #c4456f;
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
}

.contact_form input:focus,
.contact_form textarea:focus {
  border-color: #ff6f9c;
}

/* Button */
.btn-primary {
  background-color: #ff6f9c;
  color: #ffffff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #c4456f;
}
/*=================FOOTER SECTION===============*/

.footer {
  background: #111;
  color: #fff;
  padding-top: 60px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 10% 40px;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-logo {
  font-size: 22px;
  margin-bottom: 15px;
  color: #ff69b4;
}

.footer-col p,
.footer-col li {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ff69b4;
}
.footer-col ul li:hover {
  color: #ff69b4;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 13px;
  color: #aaa;
}
/* Mobile */
@media (max-width: 768px) {
  .left_links,
  .right_links {
    display: none;
  }

  .nav_menu_btn {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .nav_container {
    flex-wrap: wrap;
  }

  .left_links.show,
  .right_links.show {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    border-top: 1px solid #f1d5db;
    width: 100%;
  }

  .nav_links li {
    text-align: center;
  }
  .nav_links li a {
    font-size: 1rem;
    padding: 10px 0;
    color: #fff;
    display: block;
  }

  .right_links.show .btn-book {
    margin: 10px auto 0;
    display: block;
  }
  .nav_logo {
    display: block;
    font-size: 1.3rem;
  }
  /*HERO SECTION*/
  .hero {
    height: 70vh;
    aspect-ratio: 3 / 4;
  }

  .hero-content {
    padding: 0 24px;
  }

  .hero-content h1 {
    font-size: 2.3rem;
  }
  /*ABOUT SECTION*/
  .about {
    padding: 50px 20px;
  }

  .about_container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .about_image,
  .about_content {
    width: 100%;
  }
  .about_image img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-width: 100%;
  }

  .about_content h2 {
    font-size: 24px;
  }

  .about_content p {
    font-size: 15px;
  }

  .btn-book {
    width: 100%;
    padding: 12px;
  }
  /*GALLERY SECTION*/
  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  /*SERVICE SECTION*/
  .services {
    padding: 60px 20px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .section-title {
    font-size: 26px;
  }

  .services-card img {
    height: 180px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer {
    padding-top: 40px;
  }
}
