@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Bungee+Spice&family=Carter+One&family=Montserrat:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #a34339;
  --secondary-color: #e89e91;
  --text-dark: #0e0d16;
  --text-light: #767268;
  --extra-light: #f7f8fd;
  --white: #ffffff;
  --max-width: 1200px;
  /* color: rgb(247,198,184);*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  color: #333;
}
nav {
  position: sticky;
  top: 0;
  background: #fff5f7;
  border-bottom: 1px solid #f1d5db;
  z-index: 1000;
}

.nav_container {
  max-width: 1200px;
  margin: auto;
  padding: 14px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav_logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #a34339;
  text-align: center;
  white-space: nowrap;
}

.nav_logo span {
  color: #c96b85;
}

/* LINKS */
.nav_links {
  list-style: none;
  display: flex;
  gap: 22px;
  align-items: center;
}

.nav_links li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  position: relative;
}

/* Hover underline */
.nav_links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #c96b85;
  transition: 0.3s;
}

.nav_links li a:hover::after {
  width: 100%;
}

/* BOOK BUTTON */
.btn-book {
  padding: 7px 18px;
  border-radius: 20px;
  border: none;
  background: #c96b85;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-book:hover {
  background: transparent;
  color: #c96b85;
  border: 1px solid #c96b85;
}

/* MOBILE MENU */
.nav_menu_btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/*=====================HERO SECTION =======================*/
.hero {
  height: 90vh;
  width: 100%;
  background: url("src/nails5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 600px;
  padding-left: 80px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 18px;
}

.hero-content p {
  font-size: 1.05rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 28px;
}

.about {
  background: #f8f2f4;
  padding: 80px 10%;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.about_image {
  flex: 1;
}

.about_image img {
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  display: block;
}

.about_content {
  max-width: 500px;
  flex: 1;
}

.about_content h2 {
  font-size: 36px;
  color: #5a2d2d;
  margin-bottom: 20px;
}

.about_content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.6;
}

/*===================== GALLERY =========================*/
.gallery {
  background: #f8f2f4;
  padding: 80px 8%;
  text-align: center;
}

.section-title {
  font-size: 42px;
  color: #5a2d2d;
  margin-bottom: 40px;
  font-weight: 600;
}

.gallery-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.gallery-buttons button {
  padding: 10px 22px;
  border-radius: 30px;
  border: 1px solid #e5c5cf;
  background: #ffffff;
  color: #5a2d2d;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery-buttons button:hover {
  background: #f3d4db;
  transform: translateY(-2px);
}

.gallery-buttons button.active {
  background: #c85c7b;
  color: #fff;
  border: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}
.gallery-item {
  width: 100%;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: 0.3s ease;
}

.gallery-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  transition: 0.4s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);
}

.show-more {
  margin-top: 50px;
}

.show-more button {
  padding: 12px 30px;
  border-radius: 30px;
  background: #c85c7b;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.show-more button:hover {
  background: #a94461;
}

/* Mobile */
@media (max-width: 768px) {
  .left_links,
  .right_links {
    display: none;
  }

  .nav_menu_btn {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .nav_container {
    flex-wrap: wrap;
  }

  .left_links.show,
  .right_links.show {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    border-top: 1px solid #f1d5db;
    width: 100%;
  }

  .nav_links li {
    text-align: center;
  }
  .nav_links li a {
    font-size: 1rem;
    padding: 10px 0;
    color: #444;
    display: block;
  }

  .right_links.show .btn-book {
    margin: 10px auto 0;
    display: block;
  }
  .nav_logo {
    display: block;
    font-size: 1.3rem;
  }
  /*HERO SECTION*/
  .hero {
    height: 70vh;
    aspect-ratio: 3 / 4;
  }

  .hero-content {
    padding: 0 24px;
  }

  .hero-content h1 {
    font-size: 2.3rem;
  }
  /*ABOUT SECTION*/
  .about {
    padding: 50px 20px;
  }

  .about_container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  .about_image,
  .about_content {
    width: 100%;
  }
  .about_image img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-width: 100%;
  }

  .about_content h2 {
    font-size: 24px;
  }

  .about_content p {
    font-size: 15px;
  }

  .btn-book {
    width: 100%;
    padding: 12px;
  }
  /*GALLERY SECTION*/
  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
